<app-navbar [pageName]="'Update Movie'"></app-navbar>
<ion-content>
  <div>
    <form>
      <ion-item>
        <ion-label>Title: </ion-label>
        <ion-input type="text" [(ngModel)]="movie.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Director</ion-label>
        <ion-input type="text" [(ngModel)]="movie.director" name="director"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Release Year</ion-label>
        <ion-input type="text" [(ngModel)]="movie.releaseYear" name="release"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rating</ion-label>
        <ion-input type="text" [(ngModel)]="movie.rating" name="rating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea [(ngModel)]="movie.description" name="description"></ion-textarea>
      </ion-item>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="updateMovie(movie)">Update Movie</ion-button>
  <ion-button expand="block" color="secondary" [routerLink]="'/movies'">Back to Movie</ion-button>
</ion-footer>