<ion-menu slot="start" menuId="main" contentId="content1">
  <ion-header>
    <ion-toolbar>
      <ion-title>Multimedia Center</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="'/movies'">Movies</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="'/reservations'">My reservations</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item (click)= "logOut()">Log out</ion-item>
      </ion-menu-toggle>
    </ion-list>  
  </ion-content>
</ion-menu>